---

import DefaultLayout from "../layouts/DefaultLayout.astro";
import Formulario from "../componentes/Formulario.astro";
---
 

  <DefaultLayout>
    
    <h1 class="text-8xl">WELLCOME CONTACT</h1>
    <Formulario/>
 </DefaultLayout>